Flask
Flask-WTF
Flask-Login
Flask-SQLAlchemy
python-binance
pandas
numpy
scikit-learn
ta
joblib
retrying
colorlog
elasticsearch
websocket-client
plotly
xgboost
stable-baselines3
binance
requests
vaderSentiment
matplotlib

