<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Dashboard</h1>
        <div id="chart"></div>
        <script>
            var trace1 = {
                x: [/* your data here */],
                y: [/* your data here */],
                type: 'scatter'
            };
            var data = [trace1];
            Plotly.newPlot('chart', data);
        </script>
    </div>
</body>
</html>
